choice
	prompt "Machine type"
	depends on MACH_INGENIC
	default JZ4740_QI_LB60

config JZ4740_QI_LB60
	bool "Qi Hardware Ben NanoNote"
	select MACH_JZ4740

config JZ4770_GCW0
	bool "GCW Zero handheld game/media player"
	select MACH_JZ4770

endchoice

config JZSOC
	bool

config JZRISC
	bool

config MACH_JZ4740
	bool
	select SYS_HAS_CPU_MIPS32_R1

config MACH_JZ4770
	bool
	select CPU_SUPPORTS_CPUFREQ
	select JZSOC
	select JZRISC
	select MIPS_EXTERNAL_TIMER
	select PINCTRL
	select SYS_HAS_CPU_MIPS32_R2
	select SYS_SUPPORTS_HIGHMEM

config MACH_JZ4780
	bool
	select MIPS_CPU_SCACHE
	select PINCTRL
	select SYS_HAS_CPU_MIPS32_R2
	select SYS_SUPPORTS_HIGHMEM
