#
# Vivante GPU support.
#
menuconfig GPU_VIVANTE_V4
	tristate "Open Vivante V4 support"
	depends on JZSOC
	help
	  Enable support for Vivante GPU cores.

config GPU_VIVANTE_GC860
	boolean "Vivante GC860 support"
	depends on GPU_VIVANTE_V4 && MACH_JZ4770
	help
	  Enable support for the GC860 graphics core found on the
	  Ingenic JZ4770 SoC designs.
